
.DS_Store
project1/.DS_Store
project1/project1/.DS_Store
test/test.xcodeproj/project.pbxproj
test/test.xcodeproj/project.xcworkspace/contents.xcworkspacedata
test/test.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
test/test.xcodeproj/project.xcworkspace/xcuserdata/alexyu.xcuserdatad/UserInterfaceState.xcuserstate
test/test.xcodeproj/xcuserdata/alexyu.xcuserdatad/xcschemes/xcschememanagement.plist
test/test/a.out
test/test/main.cpp
.DS_Store
