//! **************************************************************************
// Written by: Map P.68d on Thu Oct 28 13:05:30 2021
//! **************************************************************************

SCHEMATIC START;
COMP "an<0>" LOCATE = SITE "N16" LEVEL 1;
COMP "an<1>" LOCATE = SITE "N15" LEVEL 1;
COMP "an<2>" LOCATE = SITE "P18" LEVEL 1;
COMP "an<3>" LOCATE = SITE "P17" LEVEL 1;
COMP "clk" LOCATE = SITE "V10" LEVEL 1;
COMP "seg<0>" LOCATE = SITE "T17" LEVEL 1;
COMP "seg<1>" LOCATE = SITE "T18" LEVEL 1;
COMP "seg<2>" LOCATE = SITE "U17" LEVEL 1;
COMP "sw<0>" LOCATE = SITE "T10" LEVEL 1;
COMP "seg<3>" LOCATE = SITE "U18" LEVEL 1;
COMP "btnl" LOCATE = SITE "C4" LEVEL 1;
COMP "sw<1>" LOCATE = SITE "T9" LEVEL 1;
COMP "seg<4>" LOCATE = SITE "M14" LEVEL 1;
COMP "seg<5>" LOCATE = SITE "N14" LEVEL 1;
COMP "seg<6>" LOCATE = SITE "L14" LEVEL 1;
COMP "btnr" LOCATE = SITE "D9" LEVEL 1;
TIMEGRP sys_clk_pin = BEL "debouncer/sel/step_d_0" BEL
        "debouncer/sel/clk_en_d" BEL "debouncer/sel/clk_dv_16" BEL
        "debouncer/sel/clk_dv_15" BEL "debouncer/sel/clk_dv_14" BEL
        "debouncer/sel/clk_dv_13" BEL "debouncer/sel/clk_dv_12" BEL
        "debouncer/sel/clk_dv_11" BEL "debouncer/sel/clk_dv_10" BEL
        "debouncer/sel/clk_dv_9" BEL "debouncer/sel/clk_dv_8" BEL
        "debouncer/sel/clk_dv_7" BEL "debouncer/sel/clk_dv_6" BEL
        "debouncer/sel/clk_dv_5" BEL "debouncer/sel/clk_dv_4" BEL
        "debouncer/sel/clk_dv_3" BEL "debouncer/sel/clk_dv_2" BEL
        "debouncer/sel/clk_dv_1" BEL "debouncer/sel/clk_dv_0" BEL
        "debouncer/sel/clk_en" BEL "debouncer/sel/output_signal" BEL
        "debouncer/adj/step_d_0" BEL "debouncer/adj/output_signal" BEL
        "debouncer/pause/step_d_0" BEL "debouncer/pause/output_signal" BEL
        "clock_module/hz1_clk" BEL "clock_module/faster_clk" BEL
        "clock_module/hz1_counter_25" BEL "clock_module/hz1_counter_24" BEL
        "clock_module/hz1_counter_23" BEL "clock_module/hz1_counter_22" BEL
        "clock_module/hz1_counter_21" BEL "clock_module/hz1_counter_20" BEL
        "clock_module/hz1_counter_19" BEL "clock_module/hz1_counter_18" BEL
        "clock_module/hz1_counter_17" BEL "clock_module/hz1_counter_16" BEL
        "clock_module/hz1_counter_15" BEL "clock_module/hz1_counter_14" BEL
        "clock_module/hz1_counter_13" BEL "clock_module/hz1_counter_12" BEL
        "clock_module/hz1_counter_11" BEL "clock_module/hz1_counter_10" BEL
        "clock_module/hz1_counter_9" BEL "clock_module/hz1_counter_8" BEL
        "clock_module/hz1_counter_7" BEL "clock_module/hz1_counter_6" BEL
        "clock_module/hz1_counter_5" BEL "clock_module/hz1_counter_4" BEL
        "clock_module/hz1_counter_3" BEL "clock_module/hz1_counter_2" BEL
        "clock_module/hz1_counter_1" BEL "clock_module/hz1_counter_0" BEL
        "clock_module/faster_counter_15" BEL "clock_module/faster_counter_14"
        BEL "clock_module/faster_counter_13" BEL
        "clock_module/faster_counter_12" BEL "clock_module/faster_counter_11"
        BEL "clock_module/faster_counter_10" BEL
        "clock_module/faster_counter_9" BEL "clock_module/faster_counter_8"
        BEL "clock_module/faster_counter_7" BEL
        "clock_module/faster_counter_6" BEL "clock_module/faster_counter_5"
        BEL "clock_module/faster_counter_4" BEL
        "clock_module/faster_counter_3" BEL "clock_module/faster_counter_2"
        BEL "clock_module/faster_counter_1" BEL
        "clock_module/faster_counter_0" BEL "clk_BUFGP/BUFG" BEL
        "debouncer/pause/Mshreg_step_d_1" BEL "debouncer/pause/step_d_1" BEL
        "debouncer/sel/Mshreg_step_d_1" BEL "debouncer/sel/step_d_1" BEL
        "debouncer/adj/Mshreg_step_d_1" BEL "debouncer/adj/step_d_1";
TS_sys_clk_pin = PERIOD TIMEGRP "sys_clk_pin" 100 MHz HIGH 50%;
SCHEMATIC END;

